@font-face {
  font-family: 'Potter'; 
  src: url(../fonts/HARRYP__.TTF);
}

.potter-title { 
  color: rgb(255,255,0);
	font-family: 'Potter'; 
	font-size: 100px; 
  text-align: center; 
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
} 

.search-box { 
  background-image: url('../img/searchicon.png');
  background-position: 10px 12px;
  background-repeat: no-repeat; 
  font-family: 'Garamond';
  font-size: 16px;
  padding: 12px 20px 12px 40px; 
  position: absolute;
  border: 1px solid #ddd;
  margin-bottom: 12px; 
  outline: 3px solid rgb(255,255,0);
}

.loading-message {
	font-family: 'Garamond'; 
	font-size: 20px;
}

.btn-primary { 
  background: lightblue;
  border-radius: 5px 10px; 
  color: black;
	font-family: 'Garamond'; 
	font-size: 20px;
	height: 50px;
	margin-bottom: 5px; 
	text-align: justify;
	width: 200px;
} 

.list-group { 
	list-style-type: none; 
  position: absolute; 
  padding: 0; 
  margin: 0;
} 

.list-group-item {
  background: none; 
  border: none; 
  padding: 0;
}


.modal h1 {
  margin-top: 0; 
  font-family: 'Garamond';
}

.modal p { 
  font-weight: bold;
  margin-bottom: 0; 
  font-family: 'Garamond';
}

.modal-body-text-div { 
	display: inline-flex; 
  width: 50%;
}

.modal-body,
.modal-table-div, 
.modal-image-div { 
	display: inline-flex;
} 

.character-picture {
  border-radius: 50%; 
  max-width: 150px;
}


.wand-table table, td, 
.species-table table, td, 
.patronus-table table, td {
	border: 1px solid black;
	font-family: 'Garamond'; 
	font-weight: normal;  
	padding: 3px 5px;
	text-align: left;
} 

.species-table, 
.patronus-table{
  margin: 0 10px;
}

.wand-header, 
.species-header, 
.patronus-header {
	font-family: 'Garamond';
	font-weight: bold; 
  text-align: left;
}

